body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px;

}

* {
    margin: 0;
}
header {
    height: 100px;
    background-color: blueviolet;
    color: white;
}
.logo {
    float: left;
    width:30%;
}
.menu {
    float: right;
    width: 70%;
    padding-top: 15px;
}
.menu ul li{
      display:inline-block;
      border-radius:10px;
      margin-left:20px;
      background-color:gray;
      width:150px;
      height:30px;
      text-align:center;
}

.menu ul li:hover{
       background-color:black;
       color:white;
}

.menu ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#middlePart {
    height: 400px;
    background-color: gray;  
}
footer {
    height: 200px;
    background-color: blueviolet;
    color: white;
}

.footerpart
{
    float:left;
    width:30%;
    height:100%;
    margin-left:20px;
}